<div
  class="tc-board p-3"
  [ngStyle]="{ backgroundColor: activeBoard?.colorCode }"
>
  <div
    cdkDropList
    cdkDropListOrientation="horizontal"
    [cdkDropListData]="lists"
    (cdkDropListDropped)="dropList($event)"
    class="d-flex"
  >
    <div
      class="tc-board__list-item m-2"
      *ngFor="let l of lists; let i = index"
      cdkDropListGroup
      [cdkDragData]="l"
      cdkDrag
    >
      <div class="tc-board__list-item--header">
        <span> {{ l.name }} </span>
        <div class="btn-group" dropdown>
          <div dropdownToggle aria-controls="dropdown-basic">
            <i class="fa fa-ellipsis-h"></i>
          </div>
          <ul
            id="dropdown-basic"
            *dropdownMenu
            class="dropdown-menu"
            role="menu"
            aria-labelledby="button-basic"
          >
            <li role="menuitem">
              <a class="dropdown-item" (click)="deleteList(l)">Delete List</a>
            </li>
          </ul>
        </div>
      </div>
      <div
        class="tc-board__list-item--body"
        id="{{ l.name }}"
        cdkDropList
        [cdkDropListData]="l.cards"
        (cdkDropListDropped)="dropList($event)"
        [cdkDropListConnectedTo]="connectedList"
      >
        <div
          class="tc-board__card"
          *ngFor="let c of l.cards"
          (click)="viewCard()"
          cdkDrag
          [cdkDragData]="c"
        >
          <div class="tc-board__card-image"></div>
          <span class="tc-board__card-title">{{ c }} </span>
        </div>
      </div>
      <div (click)="addCard()" class="tc-board__list-item--footer">
        + Add card
      </div>
    </div>
  </div>

  <!-- Add new list -->
  <div class="tc-board__list-item m-2" *ngIf="isAddListOpen">
    <form [formGroup]="addListForm">
      <div class="tc-board__list-item--header">
        <input
          type="text"
          class="form-control"
          formControlName="name"
          required
          maxlength="25"
        />
        <ng-container *ngIf="listName.touched && listName.errors">
          <div class="invalid-feedback">List name is required</div>
          <div class="invalid-feedback">
            List name should be equals or less than 25 characters
          </div>
        </ng-container>
      </div>
      <div class="tc-board__list-item--footer mt-2">
        <button
          [disabled]="isAddingListForm"
          (click)="createList()"
          class="btn btn-primary"
        >
          <i *ngIf="isAddingListForm" class="fa fa-spin fa-spinner mr-2"> </i>
          Add list
        </button>
        <button (click)="isAddListOpen = false" class="btn btn-default">
          Cancel
        </button>
      </div>
    </form>
  </div>

  <div class="tc-board__add-list m-2" (click)="isAddListOpen = true">
    + Add List
  </div>
</div>
