<nav class="navbar navbar-dark tc-navbar__sub-nav">
  <div class="d-flex justify-content-between w-100">
    <div class="d-flex align-items-center">
      <span class="mr-2">{{ activeBoard?.name }}</span>
      <span>|</span>
      <small class="ml-2"> Members </small>
      <div class="d-flex ml-2 tc-navbar__member-container align-items-center">
        <img
          *ngIf="activeBoard.$$owner"
          [src]="activeBoard.$$owner.photoURL"
          [tooltip]="activeBoard.$$owner.displayName"
        />
        <img
          *ngFor="let user of activeBoard?.$$users.slice(0, 4)"
          [src]="user.photoURL"
          [tooltip]="user.displayName"
        />

        <div
          *ngIf="activeBoard?.$$users.length > 4"
          class="btn-group"
          #usersDropdown="bs-dropdown"
          dropdown
          [autoClose]="false"
        >
          <span
            dropdownToggle
            aria-controls="dropdown-basic"
            class="badge badge-dark ml-2"
            style="height: fit-content; cursor: pointer"
            >+ {{ activeBoard?.$$users.length - 4 }}</span
          >
          <ul
            id="dropdown-basic"
            *dropdownMenu
            class="dropdown-menu tc-navbar__invite-container"
            role="menu"
            aria-labelledby="button-basic"
          >
            <small for="" class="m-2">Users :</small>
            <div class="d-flex align-items-center flex-wrap m-1">
              <div
                class="tc-navbar__user-add-picture m-1"
                *ngFor="let user of activeBoard.$$users; let i = index"
              >
                <img [src]="user.photoURL" [tooltip]="user.displayName" />
                <i (click)="removeUser(i)" class="fa fa-times-circle"></i>
              </div>
            </div>
          </ul>
        </div>
      </div>
      <tc-invite-user [board]="activeBoard"></tc-invite-user>
    </div>
    <div class="btn-group" dropdown>
      <button
        dropdownToggle
        aria-controls="dropdown-basic"
        class="btn btn-default"
      >
        <i class="fa fa-ellipsis-v"> </i>
      </button>
      <ul
        id="dropdown-basic"
        *dropdownMenu
        class="dropdown-menu dropdown-menu-left"
        role="menu"
        aria-labelledby="button-basic"
      >
        <li *ngIf="isOwner" role="menuitem">
          <a class="dropdown-item" (click)="editBoard()">Edit</a>
          <a class="dropdown-item" (click)="deleteBoard()">Delete</a>
        </li>
        <li *ngIf="!isOwner" role="menuitem">
          <a class="dropdown-item" (click)="leaveBoard()">Leave board</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
