@import '~src/assets/scss/config';

.#{$style-prefix}-navbar {
  position: sticky;
  top: 0;
  left: 0;
  nav {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  }

  &__user-add-picture {
    position: relative;
    img {
      height: 42px;
      border-radius: 100%;
    }

    i {
      color: $danger;
      position: absolute;
      top: -3px;
      right: -3px;
      font-size: 18px;
      cursor: pointer;
    }
  }

  &__invite-container {
    width: 260px;
    background-color: white;

    &-header {
      padding: 4px;
      width: 100%;
      border-bottom: 1px solid #343434;
    }
  }

  &__logo-container {
    padding: 4px;
    box-shadow: 3px 3px #000;
    border-radius: 5px;
    border: 2px solid $primary;
    background-color: white;
    cursor: pointer;
    img {
      height: 32px;
    }
  }

  &__member-container {
    img {
      border-radius: 100%;
      height: 32px;
      margin-right: -2px;
    }
  }

  &__profile {
    cursor: pointer;
    img {
      border-radius: 100%;
      float: right;
    }
  }

  &__sub-nav {
    background-color: white;
  }

  &__app-title {
    font-size: 20px;
    color: #f0f0f0;
  }
}
