<div class="tc-navbar">
  <nav class="navbar navbar-dark bg-primary">
    <div class="d-flex align-items-center">
      <a routerLink="/main" class="tc-navbar__logo-container">
        <img src="assets/images/logo.png" alt="Logo" />
      </a>
      <span *ngIf="!isBoardRoute" class="ml-3 tc-navbar__app-title">
        Manage Mo To
      </span>
      <ng-container *ngIf="isBoardRoute">
        <tc-board-search></tc-board-search>
        <input
          type="search"
          class="form-control ml-2"
          placeholder="Search card"
          (keyup)="searchCards($event.target.value)"
        />
      </ng-container>
    </div>

    <div class="btn-group" dropdown placement="left">
      <div
        id="button-basic"
        dropdownToggle
        class="tc-navbar__profile"
        aria-controls="dropdown-basic"
      >
        <img [src]="user?.photoURL" alt="" height="36" />
        <span class="caret"></span>
      </div>
      <ul
        id="dropdown-basic"
        *dropdownMenu
        class="dropdown-menu dropdown-menu-left"
        role="menu"
        aria-labelledby="button-basic"
      >
        <li role="menuitem">
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </li>
        <!-- <li role="menuitem">
        <a class="dropdown-item" href="#">Something else here</a>
      </li>
      <li class="divider dropdown-divider"></li> -->
        <!-- <li role="menuitem">
        <a class="dropdown-item" href="#">Separated link</a>
      </li> -->
      </ul>
    </div>
  </nav>
  <tc-board-nav *ngIf="isBoardRoute"></tc-board-nav>
</div>
