<div dropdown [autoClose]="false" #boardDropdown="bs-dropdown">
  <div
    aria-controls="dropdown-basic"
    dropdownToggle
    class="btn btn-dark ml-2"
    style="width: 120px"
  >
    <i class="fa fa-table"></i> &nbsp; Boards
  </div>
  <ul
    id="dropdown-basic"
    *dropdownMenu
    class="dropdown-menu tc-board-search__board-search p-2"
    role="menu"
    aria-labelledby="button-basic"
  >
    <div
      class="d-flex justify-content-between align-items-center w-100 tc-board-search__header"
    >
      <input
        type="search"
        class="form-control"
        placeholder="Search boards"
        name="search"
        [(ngModel)]="search"
      />
      <i (click)="boardDropdown.hide()" class="fa fa-times mr-1 ml-1"></i>
    </div>

    <label class="mt-2" for="">Personal Boards</label>

    <a
      class="tc-board-search__board-item m-2"
      *ngFor="let board of boards$ | async | searchBoard: search"
      [href]="'#/main/board/' + board.id"
      [ngStyle]="{ backgroundColor: board.colorCode }"
    >
      {{ board.name }}
    </a>
    <label class="mt-3" for="">Shared Boards</label>

    <a
      class="tc-board-search__board-item m-2"
      *ngFor="let board of sharedBoards$ | async | searchBoard: search"
      [href]="'#/main/board/' + board.id"
      [ngStyle]="{ backgroundColor: board.colorCode }"
    >
      {{ board.name }}
    </a>
  </ul>
</div>
