<div class="tc-create-board">
  <div class="modal-header">
    <h4 class="modal-title text-sm pull-left">
      <img src="assets/images/logo.png" alt="Logo" class="mr-2" height="32" />
      Create Card
    </h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="createCardForm">
      <div class="form-group">
        <label for=""> Card Title </label
        ><input
          type="text"
          class="form-control"
          required
          maxlength="50"
          formControlName="name"
        />
        <ng-container *ngIf="name.touched && name.errors">
          <div *ngIf="name.errors.required" class="invalid-feedback">
            Card title is required
          </div>
          <div *ngIf="name.errors.maxlength" class="invalid-feedback">
            Card title should be less than 50 characters
          </div>
        </ng-container>
      </div>

      <div class="form-group">
        <label for=""> Card Description </label>
        <textarea
          name=""
          id=""
          cols="30"
          class="form-control"
          required
          formControlName="description"
        ></textarea>
        <ng-container *ngIf="description.touched && description.errors">
          <div *ngIf="description.errors.required" class="invalid-feedback">
            Card description is required
          </div>
        </ng-container>
      </div>

      <div class="tc-create-board__images">
        <div class="d-flex align-items-center">
          <i class="fa fa-image mr-2"></i>
          <span>Images</span>
        </div>

        <div class="d-flex align-items-center mt-2">
          <div
            *ngFor="let image of imageURLs; let i = index"
            [ngStyle]="{
              backgroundImage: image
            }"
            class="tc-create-board__image-item m-2"
          >
            <i (click)="removeImage(i)" class="fa fa-times-circle"></i>
          </div>
          <input
            type="file"
            class="d-none"
            (change)="onUploadImage($event)"
            #imageUpload
            accept="image/png, image/jpeg"
          />
          <div class="tc-create-board__add-image" (click)="imageUpload.click()">
            + Add Image
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-end w-100">
        <button class="btn">Cancel</button>

        <button
          [disabled]="isCreating || !createCardForm.valid"
          class="btn btn-primary"
          (click)="createCard()"
        >
          <i *ngIf="isCreating" class="fa fa-spin fa-spinner mr-2"></i>Create
        </button>
      </div>
    </form>
  </div>
</div>
