<div class="tc-create-board">
  <div class="modal-header">
    <h4 class="modal-title text-sm pull-left">
      <img src="assets/images/logo.png" alt="Logo" class="mr-2" height="32" />
      {{ isEdit ? 'Edit Board' : 'Create Board' }}
    </h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="boardForm">
      <div class="form-group">
        <label for=""> Board title </label
        ><input
          type="text"
          class="form-control"
          required
          maxlength="50"
          formControlName="name"
        />
        <ng-container *ngIf="name.touched && name.errors">
          <div *ngIf="name.errors.required" class="invalid-feedback">
            Board title is required
          </div>
          <div *ngIf="name.errors.maxlength" class="invalid-feedback">
            Board title should be less than 50 characters
          </div>
        </ng-container>
      </div>

      <div class="form-group">
        <label for=""> Board color </label>
        <div class="d-flex flex-wrap">
          <div
            *ngFor="let c of colorCodes"
            (click)="activeColorCode = c"
            class="m-1 tc-create-board__color"
            [class.tc-create-board__color--active]="activeColorCode === c"
            [ngStyle]="{ backgroundColor: c }"
          ></div>
        </div>
      </div>

      <div class="d-flex justify-content-end w-100">
        <button class="btn">Cancel</button>

        <button
          [disabled]="isCreating || !boardForm.valid"
          *ngIf="!isEdit"
          (click)="createBoard()"
          class="btn btn-primary"
        >
          <i *ngIf="isCreating" class="fa fa-spin fa-spinner mr-2"></i>Create
        </button>

        <button
          [disabled]="isCreating || !boardForm.valid"
          *ngIf="isEdit"
          (click)="editBoard()"
          class="btn btn-primary"
        >
          <i *ngIf="isCreating" class="fa fa-spin fa-spinner mr-2"></i>Save
        </button>
      </div>
    </form>
  </div>
</div>
