<div
  class="btn-group tc-invite"
  #inviteUserDropdown="bs-dropdown"
  dropdown
  [autoClose]="false"
>
  <div
    dropdownToggle
    aria-controls="dropdown-basic"
    class="btn btn-sm btn-primary ml-2"
  >
    + Invite
  </div>
  <ul
    id="dropdown-basic"
    *dropdownMenu
    class="dropdown-menu tc-invite__invite-container"
    role="menu"
    aria-labelledby="button-basic"
  >
    <div class="tc-invite__invite-container-header">
      <i class="fa fa-users mr-2"></i>
      <span> Invite Users </span>
    </div>
    <form [formGroup]="searchForm" class="form-group m-2 position-relative">
      <input
        type="search"
        class="form-control"
        formControlName="search"
        placeholder="Search Users"
      />
      <div
        *ngIf="search.value.length >= 3"
        class="tc-invite__users-list list-group"
      >
        <li
          class="list-group-item d-flex align-items-center"
          style="cursor: pointer"
          *ngFor="let user of filteredUsers"
          (click)="addUserToBoard(user)"
        >
          <img [src]="user?.photoURL" alt="" />
          <div class="d-flex flex-column ml-2">
            <span> {{ user.displayName }}</span>
            <small>{{ user.email }}</small>
          </div>
        </li>
      </div>
    </form>

    <small for="" class="m-2">Users To Add:</small>
    <div class="d-flex align-items-center flex-wrap m-1">
      <div
        class="tc-invite__user-add-picture m-1"
        *ngFor="let user of usersToAdd; let i = index"
      >
        <img [src]="user.photoURL" [tooltip]="user.displayName" />
        <i (click)="removeUser(i)" class="fa fa-times-circle"></i>
      </div>
    </div>

    <div class="d-flex ml-2 mt-2 mr-2 justify-content-between pt-2 pb-2">
      <div class="btn btn-sm btn-default" (click)="inviteUserDropdown.hide()">
        Cancel
      </div>
      <button
        [disabled]="isInvitingUsers || usersToAdd.length === 0"
        (click)="inviteUsers(); inviteUserDropdown.hide()"
        class="btn btn-sm btn-primary"
      >
        <i *ngIf="isInvitingUsers" class="fa fa-users fa-spinner mr-2"></i>
        Invite users
      </button>
    </div>
  </ul>
</div>
