<div class="tc-home">
  <div class="w-100 d-flex justify-content-between align-items-center mt-5">
    <h4>Personal Boards</h4>
    <button class="btn btn-primary" (click)="addBoard()">+ Add Board</button>
  </div>
  <div
    class="w-100 d-flex flex-wrap justify-content-xs-center justify-content-md-start"
  >
    <a
      class="tc-home__board-item m-2"
      [routerLink]="['/main', 'board', board.id]"
      *ngFor="let board of boards$ | async"
      [ngStyle]="{ backgroundColor: board.colorCode }"
    >
      {{ board.name }}
    </a>
  </div>

  <div class="w-100 d-flex justify-content-between align-items-center mt-5">
    <h4>Shared Boards</h4>
  </div>
  <div
    class="w-100 d-flex flex-wrap justify-content-xs-center justify-content-md-start"
  >
    <a
      class="tc-home__board-item m-2"
      [routerLink]="['/main', 'board', board.id]"
      *ngFor="let board of sharedBoards$ | async"
      [ngStyle]="{ backgroundColor: board.colorCode }"
    >
      {{ board.name }}
    </a>
  </div>
</div>
